/* --------------------VARIABLES */ 
/* --------------------GLOBAL DEFAULTS */ 
body {
    background: #d6f9dd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #666666;
    font-size: 18px;
    line-height: 1.4;
}


img {
    max-width: 100%
}
/* --------------------HEADINGS AND TYPE */ 
h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black
}

p {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: black
}

h2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}
/* --------------------LAYOUTS */ 
.content {
    background-color: #abdf75;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}
/* --------------------HEADER */ 
/* --------------------NAVIGATION */ 
/* --------------------FOOTER */ 
/* --------------------MODULES */




